@media (min-width: 640px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .nav-mobile {
    display: none;
  }

  nav {
    visibility: visible;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;
  }

  section {
    padding: 100px 0 0 0;
  }

  .content-left {
    padding-top: 30px;
    width: 56%;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 1.25rem;
    line-height: 54px;
  }

  .paragraph {
    font-size: 14px;
    margin-bottom: 1.25rem;
    line-height: 24px;
    width: 80%;
  }

  b {
    font-size: 16px;
  }

  .cta {
    padding: 12px 26px 12px 26px;
    width: fit-content;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--green);
    border-radius: 4px;
    border: none;
  }

  .alumni img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-color: rgb(236 236 236/1);
    border-radius: 50%;
    max-width: 100%;
  }

  .testimony {
    justify-content: start;
    margin-top: 2rem;
  }

  .content-right {
    display: block;
  }

  .content-right img {
    width: 100%;
  }

  .program {
    position: relative;
  }

  .menu-program {
    min-width: 692px;
    position: absolute;
    display: none;
    top: 30px;
    right: -155px;
    background-color: var(--background);
    padding: 32px;
    border-radius: 12px;
    transition: all 1;
  }

  .menu-program p {
    color: var(--green);
  }

  .menu-program span {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #ef2547;
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 4px;
  }

  .menu-left {
    border-right: 2px solid #e9e9e9;
    padding-right: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .menu-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .program:hover .menu-program {
    display: flex;
  }

  .video-course {
    position: relative;
  }

  .menu-video {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 352px;
    background-color: var(--background);
    padding: 32px;
    border-radius: 12px;
    transition: all 1;
  }

  .menu-video span {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #ef2547;
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 4px;
  }

  .menu-video p {
    color: var(--green);
  }

  .video-course:hover .menu-video {
    display: flex;
  }

  .corporate {
    position: relative;
  }

  .menu-corporate {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 30px;
    left: -100px;
    min-width: 352px;
    background-color: var(--background);
    padding: 32px;
    border-radius: 12px;
    transition: all 1;
  }

  .menu-corporate span {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #ef2547;
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 4px;
  }

  .menu-corporate p {
    color: var(--green);
  }

  .corporate:hover .menu-corporate {
    display: flex;
  }
}
