:root {
  --blue: rgb(0 56 222/1);
  --green: rgb(13 173 142/1);
  --background: rgb(246 247 247/1);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0 12px 32px 0px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #484848;
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  background-color: var(--background);
  height: 80px;
  z-index: 1000;
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.75rem;
  font-weight: 500;
  cursor: pointer;
}

button {
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
}

.sign-up {
  border: 1px solid var(--green);
  color: var(--green);
  background-color: transparent;
}

.log-in {
  color: #fff;
  background-color: var(--green);
  border: none;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #222325;
  margin-bottom: 0.625rem;
  line-height: 1.5;
}

section {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  padding: 60px 0 30px 0;
}

section .container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.testimony {
  display: flex;
  gap: 2rem;
}

.alumni {
  display: flex;
}

.alumni img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-color: rgb(236 236 236/1);
  border-radius: 50%;
  max-width: 100%;
}

.rating {
  font-weight: 600;
  font-size: 12px;
}

.stars {
  display: flex;
  color: rgb(252 188 42/1);
  gap: 0.375rem;
  margin-bottom: 1rem;
}

.content-right {
  display: none;
  width: 44%;
}

.content-left {
  padding-top: 30px;
  width: 100%;
  line-height: 1.25rem;
  width: 100%;
  font-size: 12px;
}

b {
  font-size: 14px;
}

.nav-mobile {
  padding: 1.25rem 1rem 1.25rem 1rem;
  background-color: rgb(246 247 247/1);
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-mobile img {
  width: 100%;
  height: 0.875rem;
}

.hamburger {
  display: flex;
  position: absolute;
  right: 15px;
}

.hamburger button {
  text-transform: none;
  border: none;
  background-color: transparent;
  padding: 0 0 0 0;
  font-size: 20px;
}

nav {
  visibility: hidden;
  padding: 0.75rem;
}

.cta {
  background-color: var(--green);
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  margin: 28px auto 28px auto;
}

@media (min-width: 640px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .nav-mobile {
    display: none;
  }

  nav {
    visibility: visible;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;
  }

  section {
    padding: 100px 0 0 0;
  }

  .content-left {
    padding-top: 30px;
    width: 56%;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 1.25rem;
    line-height: 54px;
  }

  .paragraph {
    font-size: 14px;
    margin-bottom: 1.25rem;
    line-height: 24px;
    width: 80%;
  }

  b {
    font-size: 16px;
  }

  .cta {
    padding: 12px 26px 12px 26px;
    width: fit-content;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--green);
    border-radius: 4px;
    border: none;
  }

  .alumni img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-color: rgb(236 236 236/1);
    border-radius: 50%;
    max-width: 100%;
  }

  .testimony {
    justify-content: start;
    margin-top: 2rem;
  }

  .content-right {
    display: block;
  }

  .content-right img {
    width: 100%;
  }

  .program {
    position: relative;
  }

  .menu-program {
    min-width: 692px;
    position: absolute;
    display: none;
    top: 30px;
    right: -155px;
    background-color: var(--background);
    padding: 32px;
    border-radius: 12px;
    transition: all 1;
  }

  .menu-program p {
    color: var(--green);
  }

  .menu-program span {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #ef2547;
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 4px;
  }

  .menu-left {
    border-right: 2px solid #e9e9e9;
    padding-right: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .menu-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .program:hover .menu-program {
    display: flex;
  }

  .video-course {
    position: relative;
  }

  .menu-video {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 352px;
    background-color: var(--background);
    padding: 32px;
    border-radius: 12px;
    transition: all 1;
  }

  .menu-video span {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #ef2547;
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 4px;
  }

  .menu-video p {
    color: var(--green);
  }

  .video-course:hover .menu-video {
    display: flex;
  }

  .corporate {
    position: relative;
  }

  .menu-corporate {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 30px;
    left: -100px;
    min-width: 352px;
    background-color: var(--background);
    padding: 32px;
    border-radius: 12px;
    transition: all 1;
  }

  .menu-corporate span {
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #ef2547;
    font-size: 10px;
    padding: 1px 12px;
    border-radius: 4px;
  }

  .menu-corporate p {
    color: var(--green);
  }

  .corporate:hover .menu-corporate {
    display: flex;
  }

  .wa-button {
    height: 100%;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 999;
    align-items: center;
    background-color: #0dad8e;
    border-radius: 50%;
    bottom: 2rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 2rem;
    width: 50px;
  }

  .wa-button svg {
    fill: #fff;
    height: 50px;
    padding: 0.5rem;
    width: 50px;
  }

  .number {
    background-color: #ff5454;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    height: 18px;
    line-height: 14px;
    padding: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -5px;
    width: 18px;
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(13, 173, 142, 0.4);
      box-shadow: 0 0 0 0 rgba(13, 173, 142, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(44, 204, 71, 0);
      box-shadow: 0 0 0 10px rgba(44, 204, 71, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
      box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
    }
  }

  .wa-button::after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: transparent;
    box-shadow: 0 0 0 rgb(13 173 142/1);
    border-radius: 50%;
    content: "";
    height: 60px;
    opacity: 20;
    position: absolute;
    width: 60px;
  }
}
